html,
body {
  height: 100%;
  font-size: 110%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
:root {
  --app-blue: #43b1e5;
  --app-blue-translucent: #43b1e579;
  --app-blue-dark: #006898;
  --app-black: rgb(22, 29, 32);
  --app-grey: rgb(108, 129, 138);
  --app-grey-translucent: rgba(108, 129, 138, 0.85);
  --app-grey-light: rgb(168, 193, 204);
  --app-grey-light-translucent: rgb(168, 193, 204, 0.25);
  --app-white: #fcfcfc;
  --rounded-corners: 4px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--app-black);
}

main {
  display: block;
}
p,
ol,
ul,
dl,
table {
  margin: 0 0 1.5rem 0;
}

ul li ul,
ol li ol,
ol li ul,
ul li ol {
  margin-bottom: 0;
}

a {
  background-color: transparent;
  color: var(--app-blue);
  font-size: 0.7em;
}
img {
  border-style: none;
}
ul {
  list-style-type: none;
  text-align: left;
  width: 90%;
  margin: auto;
}
h1 {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  font-size: 3px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}
thead {
  border-bottom: var(--app-grey-light);
}
.JustSayIn-logo {
  height: 8vmin;
  margin: 2px 0 5px;
}

.page-header {
  background-color: var(--app-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0.5turn,
    var(--app-white) 85%,
    var(--app-grey) 95%
  );
}
.loading-message {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--app-grey, #999);
}
.page-footer {
  padding: 2rem 0 0.5rem;
  text-align: center;
  font-size: 0.5rem;
  color: #d8d3c5eb;
  letter-spacing: 0.5rem;
}
.page-header,
.page-nav,
.page-footer,
.contact-info,
.contact-info label,
.textarea-container,
.select-container {
  transition: 0.5s;
}
.page-nav {
  width: 100%;
  text-align: right;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}
.page-nav a {
  text-decoration: none;
  color: var(--app-grey-white, #fafafa);
  font-weight: bold;
  font-size: 1em;
  text-shadow: 0 1px 2px var(--app-grey);
  padding: 1px 2.5%;
  margin-bottom: 1px;
  background-color: var(--app-grey-light-translucent);
  transition: 0.3s;
}
.page-nav a:hover {
  background-color: var(--app-blue, #49f);
}
.add-contact-link {
  display: block;
  padding-top: 0.5rem;
  text-align: right;
  width: auto;
  color: var(--app-grey, #999);
}
/* ******************** */
/* TRANSLATIONS STYLES  */
/* ******************** */
.translations-display {
  /* display: inline-block; */
  padding: 0.125rem 0.5%;
}
.translations-display h2 {
  font-size: 1.125rem;
  color: var(--app-black, #49f);
  margin-bottom: 0.25em;
}
.translation {
  background-color: var(--app-white, #fefefe);
  padding: 0.125rem 1.25% 0.75rem;
  line-height: 1.5;
}
.translation .lang {
  display: block;
  text-indent: 0.5em;
  color: var(--app-grey, #999);
  font-weight: bold;
  font-size: 0.9em;
}
.sent-messages-display {
  background-color: var(--app-white, #fefefe);
  box-shadow: 0 6px 15px var(--app-grey-translucent);
  color: var(--app-grey, #999);
  border: 1px solid var(--app-grey-light, #ccc);
  border-radius: var(--rounded-corners);
  margin: 1em 2%;
  padding: 0.125rem 2% 0.0125rem;
  font-size: 0.8em;
}
.sent-messages-display h2 {
  color: var(--app-blue, #49f);
  margin-top: 0.5rem;
}
.sent-messages-display p {
  border-bottom: 1px dashed var(--app-grey);
  padding-bottom: 0.5rem;
}
/* ******************** */
/*    MODAL STYLES      */
/* ******************** */
.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* ******************** */
/*    FORM STYLES       */
/* ******************** */
form {
  font-size: 1.5rem;
}
fieldset,
legend,
button,
input,
optgroup,
select,
.translation {
  border-radius: var(--rounded-corners);
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
}
input,
button {
  font-size: 0.9rem;
  color: var(--app-blue, #49f);
  overflow: visible;
}
select,
textarea {
  width: 100%;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  margin: 1em 0 0;
  padding: 0.5em 1%;
  outline: none;
  border: none;
  display: block;
  width: 90%;
  margin: auto;
  background-color: var(--app-blue);
  background: linear-gradient(
    135deg,
    var(--app-blue) 60%,
    var(--app-blue-dark)
  );
  background-size: 150%;
  box-shadow: 0 3px 0 0 var(--app-grey);
  color: var(--app-white, #fff);
  font-weight: bold;
  letter-spacing: 2px;
}
button:hover,
button:focus,
[type="button"]:hover,
[type="button"]:focus,
[type="reset"]:hover,
[type="reset"]:focus,
[type="submit"]:hover,
[type="submit"]:focus {
  background: linear-gradient(
    0.35turn,
    var(--app-blue) 15%,
    var(--app-white) 55%,
    var(--app-blue) 85%
  );
  box-shadow: 0 1px 0 0 var(--app-grey);
  color: var(--app-blue);
}
.save-cancel-button {
  width: 45%;
  display: inline-block;
}
.save-cancel-button.save {
  margin-right: 3%;
}
button:focus {
  outline: 1px solid rgba(255, 255, 255, 0.75);
  outline-offset: -4px;
}
button:active,
[type="button"]:active,
[type="reset"]:active,
[type="submit"]:active {
  background: linear-gradient(
    0.35turn,
    var(--app-blue) 15%,
    var(--app-white) 55%,
    var(--app-blue) 85%
  );
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: var(--app-blue);
}
[type="checkbox"] {
  box-shadow: inset 0 2px 5px var(--app-blue, #49f);
  border: 1px solid var(--app-blue);
}
[type="checkbox"]:checked {
  box-shadow: inset 0 2px 5px var(--app-blue, #49f);
  color: var(--app-black);
}
fieldset,
legend {
  background-color: var(--app-white);
  border: 1px solid var(--app-grey-light);
}
fieldset {
  padding: 0.125rem 2.5%;
}
legend {
  font-size: 0.6rem;
  font-weight: bold;
  color: var(--app-grey);
  display: inline-block;
  padding: 0.25rem 1.25%;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
textarea {
  min-height: 20vh;
  color: var(--app-black);
  font-size: 1.1rem;
}
:focus {
  outline-color: var(--app-white);
}
fieldset,
.textarea-container,
select,
.translation {
  box-shadow: 0 6px 15px var(--app-grey-translucent);
}
.textarea-container {
  margin-bottom: 0.25rem;
  width: 100%;
  padding: 2%;
  background: linear-gradient(
    var(--app-blue, #49f),
    var(--app-blue-translucent, #49f)
  );
}
select {
  color: var(--app-grey, #ccc);
}
option {
  font-size: 1rem;
  padding: 0.25rem 1.25% 0.25rem 3.75%;
  margin: 0.125rem 0;
}
option:active {
  background-color: var(--app-blue-translucent, #49f);
}
.target-lang-selector {
  padding: 0.125rem 2.5% 1rem;
  color: var(--app-grey, #999);
}
.select-instruction {
  font-size: 0.75rem;
}
.add-contacts-button {
  float: right;
  width: 10em;
  margin: 0.5rem 2.5% 0.25rem 5%;
}

.contact-info {
  font-size: 1rem;
  color: var(--app-grey-light, #ccc);
  margin: 0;
}
.contact-info label {
  color: var(--app-grey, #999);
  margin-left: 0.25rem;
}
.contact-info td {
  border-bottom: 1px solid var(--app-grey-light-translucent);
}
[type="checkbox"]:checked + label {
  color: var(--app-blue, #49f);
  font-weight: bold;
}
.contact-name {
  padding: 0 1em 0 0.25em;
}
.contact-phone {
  font-size: 0.8em;
  font-style: italic;
}
.add-contact-box {
  width: 80%;
  margin: auto;
}

.add-contact-box label {
  display: inline-block;
  width: 10em;
  font-size: 0.7em;
  color: var(--app-grey-light);
  margin-top: 0.5rem;
}

.ud-buttons button {
  font-size: 0.15em;
  letter-spacing: 0;
  padding: 1px 0.25em;
  margin-bottom: 4px;
  border-radius: 2px;
  font-weight: normal;
  display: inline-block;
  color: var(--app-grey);
  border: 1px solid var(--app-grey-light);
  box-shadow: 0 2px 0 0 var(--app-blue-translucent);
  background: var(--app-white);
  width: 45%;
}
.ud-buttons .edit-button {
  margin-right: 8%;
}
.ud-buttons button:hover,
.ud-buttons button:focus {
  background-color: var(--app-blue-translucent);
  background: linear-gradient(0.25turn var(--app-grey, var(--app-grey-light)));
  box-shadow: 0 1px 0 0 var(--app-blue-translucent);
}
.ud-buttons button:active {
  box-shadow: inset 0 1px 1px var(--app-grey-translucent);
}
.ud-buttons .delete-button {
  background: none;
  border-style: none;
  border-width: 0;
  box-shadow: none;
  text-decoration: underline;
}
.ud-buttons .delete-button:hover {
  box-shadow: none;
}
/* ******************** */
/*   RESPONSIVE FORM    */
/* ******************** */
@media (min-width: 360px) {
  .contact-info label {
    flex-direction: row;
    align-items: flex-end;
  }
}
@media (min-width: 600px) {
  button,
  input[type="submit"] {
    width: 85%;
  }
  .textarea-container,
  .select-container {
    width: 47.25%;
    margin: 0;
    margin-bottom: 0.5em;
    float: left;
  }

  .add-contact.select-container {
    float: none;
    margin: 2em 2.5%;
    height: 3em;
  }
  .notice {
    font-size: 0.6em;
    color: #931;
    font-weight: normal;
    font-style: italic;
  }
  .recipient-box {
    padding: 0 1rem 5% 0;
  }

  .textarea-container {
    margin-right: 2.5%;
  }
  .select-container {
    width: 43%;
    margin-left: 5%;
  }
  .select-instruction {
    font-size: 0.75rem;
    margin: 0 1.25% 0.5rem 3.75%;
  }
  select {
    min-height: 20vh;
  }
  option {
    font-size: 0.9rem;
    margin: 0;
    padding: 0.125rem 0 0.25rem 2.5%;
  }
  fieldset {
    min-height: 22vh;
    padding: 0 1.25%;
  }
  legend {
    margin-top: 0.5rem;
  }
  .contact-name {
    font-size: 0.75rem;
  }
  .contact-name label {
    display: block;
    padding-left: 1em;
    text-indent: -1em;
    margin: 0;
  }
  .add-contact-box {
    width: 70%;
  }
  input[type="submit"] {
    width: 92%;
    margin: 1em 4% 0.5em;
  }
}
@media (min-width: 740px) {
  .textarea-container {
    width: 55%;
    padding: 1.5%;
    margin-right: 2%;
  }
  .select-container {
    width: 35%;
  }
  .add-contact-box {
    width: 60%;
    padding: 2rem 5%;
  }
}
@media (min-width: 800px) {
  .textarea-container {
    width: 60%;
    padding: 1.25%;
  }
  .select-container {
    width: 30%;
  }
}

@media (min-width: 860px) {
  .contact-info label {
    flex-direction: row;
    align-items: flex-end;
  }
}
@media (min-width: 1200px) {
  .textarea-container {
    width: 60%;
    padding: 1%;
  }
}
/* ******************** */
/*    RESPONSIVE NAV    */
/* ******************** */
@media (min-width: 12rem) {
  .page-nav {
    font-size: 1rem;
  }
}
@media (min-width: 15rem) {
  .page-nav {
    font-size: 1.25rem;
    padding-right: 5%;
  }
}
@media (min-width: 17rem) {
  .page-nav {
    font-size: 1.35rem;
  }
}
@media (min-width: 18rem) {
  .page-nav {
    width: 90%;
    align-items: flex-start;
  }
  .page-nav a {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: center;
  }
}
@media (min-width: 20rem) {
  .page-nav {
    width: 80%;
  }
}
@media (min-width: 26rem) {
  .page-header {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .page-nav {
    width: 65%;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 30rem) {
  .page-nav {
    width: 55%;
  }
}
@media (min-width: 40rem) {
  .page-nav {
    width: 50%;
    padding-bottom: 0.25rem;
  }
}

@media (min-width: 768px) {
  .page-nav {
    padding-top: 1em;
    font-size: 1.5rem;
    width: 45%;
  }
}
@media (min-width: 950px) {
  .page-nav {
    width: 40%;
  }
}
/* ******************** */
/* OTHER MEDIA QUERIES  */
/* ******************** */
@media (min-width: 30rem) {
  .translation .lang {
    color: var(--app-blue, #49f);
    display: inline-block;
    margin-right: 0.75em;
  }
}
@media (min-width: 600px) {
  .sent-messages-display {
    margin-top: 0;
    font-size: 1em;
  }
}
