form {
  font-size: 1.5rem;
}
input,
select,
button,
textarea {
  font-size: 1rem;
}
input,
textarea {
  width: 100%;
  color: var(--app-blue, #49f);
}
input[type="submit"] {
  margin: 1em 0 0;
  border-radius: 10px;
}
.textarea-container {
  padding: 2%;
  background-color: var(--app-blue, #49f);
}
textarea {
  min-height: 20vh;
}
textarea:focus {
  outline-color: var(--app-white);
}
select {
  width: 80%;
  margin-left: 2%;
  color: var(--app-grey, #ccc);
}
option {
  /* color: var(--app-grey,#ccc); */
}
button {
  width: 10%;
}
.target-lang-selector {
}
/* responsive */
@media (min-width: 768px) {
  form {
  }
  .textarea-container,
  .select-container {
    width: 50%;
    margin: 0;
    float: left;
  }
  .select-container {
    width: 40%;
    margin-left: 5%;
  }
  input[type="submit"] {
    width: 92%;
    margin: 1em 4%;
    color: var(--app-blue);
  }
}
