html,
body {
  height: 100%;
  font-size: 110%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
:root {
  --app-blue: #43b1e5;
  --app-blue-translucent: #43b2e579;
  --app-black: rgb(22, 29, 32);
  --app-grey: rgb(108, 129, 138);
  --app-grey-translucent: rgba(108, 129, 138, 0.85);
  --app-grey-light: rgb(168, 193, 204);
  --app-grey-light-translucent: rgb(168, 193, 204,0.25);
  --app-white: #fafafa;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--app-black);
  background: linear-gradient(
    217deg, rgba(255, 220, 220, 0.8),  rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(220, 255, 220, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(220, 230, 245, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

main {
  display: block;
}

a {
  background-color: transparent;
  color: var(--app-blue);
}
img {
  border-style: none;
}
ul {
  list-style-type: none;
  text-align: left;
  width: 90%;
  margin: auto;
}
h1 {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  font-size: 3px;
}
.JustSayIn-logo {
  height: 8vmin;
  margin: 2px 0 5px;
}

.page-header {
  background-color: var(--app-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0.35turn,
    var(--app-black) 15%,
    var(--app-grey-translucent) 55%,
    var(--app-black) 85%
  );
}
.loading-message {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--app-grey, #999);
}
.page-footer {
  padding: 2rem 0 0.5rem;
  text-align: center;
  font-size: 0.5rem;
  color: #d8d3c5eb;
  letter-spacing: 0.5rem;
}
.page-header,
.page-nav,
.page-footer,
.contact-info,
.contact-info label,
.textarea-container,
.select-container {
  transition: 0.5s;
}
.page-nav {
  width: 100%;
  text-align: right;
  padding: 0 5%;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
}
.page-nav a {
  text-decoration: none;
  color: var(--app-grey-white, #fafafa);
  font-weight: bold;
  text-shadow: 0 1px 2px var(--app-grey);
  border: 2px solid var(--app-blue);
  border-radius: 3px;
  padding: 1px 2.5%;
  margin-bottom: 1px;
  background-color: var(--app-grey-light-translucent);
  transition: 0.3s;
}
.page-nav a:hover {
  background-color: var(--app-blue,#49f);
}
/* ******************** */
/* TRANSLATIONS STYLES  */
/* ******************** */
.translations-display {
  /* display: inline-block; */
  padding: 0.125rem 0.5%;
}
.translations-display h2 {
  font-size: 1.125rem;
  color: var(--app-black, #49f);
  margin-bottom: 0.25em;
}
.translation {
  background-color: var(--app-white, #fefefe);
  padding: 0.125rem 1.25% 0.75rem;
  line-height: 1.5;
}
.translation .lang {
  display: block;
  text-indent: .5em;
  color: var(--app-grey, #999);
  font-weight: bold;
  font-size: 0.9em;
}
/* ******************** */
/*    FORM STYLES       */
/* ******************** */
form {
  font-size: 1.5rem;
}
fieldset,
legend,
button,
input,
optgroup,
select,
.translation {
  border-radius: 3px;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
}
input,
button {
  font-size: 0.9rem;
  color: var(--app-blue, #49f);
}
select,
textarea {
  width: 100%;
}
button,
input {
  overflow: visible;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border-radius: 3px;
  margin: 1em 0 0;
  padding: 0.5em 1%;
  outline: none;
  display: block;
  width: 90%;
  margin: auto;
  background-color: var(--app-blue);
  color: var(--app-white, #fff);
  font-weight: bold;
  letter-spacing: 2px;
}
button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background: linear-gradient(
    0.35turn,
    var(--app-blue) 15%,
    var(--app-white) 55%,
    var(--app-blue) 85%
  );
  color:var(--app-blue)
}
[type="checkbox"] {
  box-shadow: inset 0 2px 5px var(--app-blue, #49f);
  border: 1px solid var(--app-blue);
}
[type="checkbox"]:checked {
  box-shadow: inset 0 2px 5px var(--app-blue, #49f);
  color: var(--app-black);
}
fieldset,
legend {
  background-color: var(--app-white);
  border: 1px solid var(--app-grey-light);
}
fieldset {
  padding: 0.125rem 2.5%;
}
legend {
  font-size: 0.6rem;
  font-weight: bold;
  color: var(--app-grey);
  padding: 0.25rem 2.5%;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
textarea {
  min-height: 20vh;
  color: var(--app-black);
  font-size: 1.1rem;
}
:focus {
  outline-color: var(--app-white);
}
fieldset, .textarea-container, select,.translation {
  box-shadow: 0 6px 15px var(--app-grey-translucent);

}
.textarea-container {
  margin-bottom: 0.25rem;
  width: 100%;
  padding: 2%;
  background: linear-gradient(
    var(--app-blue, #49f),
    var(--app-blue-translucent, #49f)
  );
}
select {
  color: var(--app-grey, #ccc);
}
option {
  font-size: 1rem;
  padding: .25rem 1.25% .25rem 3.75%;
  margin: .125rem 0;
}
option:active {
  background-color: var(--app-blue-translucent, #49f);
}
.target-lang-selector {
  padding: 0.125rem 2.5% 1rem;
  color: var(--app-grey, #999);
}
.select-instruction {
  font-size: 0.75rem;
}
.add-button {
  float: right;
  margin: 0.5rem 2.5% 0.25rem 5%;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.contact-info label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: stretch; */
  font-size: 1rem;
  color: var(--app-grey, #999);
  margin-left: 0.5rem;
}
[type="checkbox"]:checked + label {
  color: var(--app-blue, #49f);
  font-weight: bold;
}
.contact-name {
  margin: 0 1em 0 0.25em;
}
.contact-phone {
  font-size: 0.8em;
  font-style: italic;
}
/* ******************** */
/*   RESPONSIVE FORM    */
/* ******************** */
@media (min-width: 360px) {
  .contact-info label {
    flex-direction: row;
    align-items: flex-end;
  }
}
@media (min-width: 600px) {
  button, input[type="submit"] {
    width: 85%;
  }
  .textarea-container,
  .select-container {
    width: 47.25%;
    margin: 0;
    margin-bottom: 0.5em;
    float: left;
  }
  .recipient-box {
    padding: 0 1rem 5% 0;
  }

  .textarea-container {
    margin-right: 2.5%;
  }
  .select-container {
    width: 43%;
    margin-left: 5%;
  }
  .select-instruction {
    font-size: 0.75rem;
    margin: 0 1.25% 0.5rem 3.75%;
  }
  select {
    min-height: 20vh;
  }
  option {
    font-size: .9rem;
    margin: 0;
    padding: .125rem 0 .25rem 2.5%;
  }  
  fieldset {
    min-height: 22vh;
  }
  legend {
    margin-top: 0.5rem;
  }
  .contact-info label {
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  input[type="submit"] {
    width: 92%;
    margin: 1em 4%;
  }
}
@media (min-width: 740px) {
  .textarea-container {
    width: 55%;
    padding:1.5%;
    margin-right: 2%;
  }
  .select-container {
    width: 35%;
  }
}
@media (min-width: 800px) {
  .textarea-container {
    width: 60%;
    padding: 1.25%;
  }
  .select-container {
    width: 30%;
  }
}

@media (min-width: 860px) {
  .contact-info label {
    flex-direction: row;
    align-items: flex-end;
  }
}
@media (min-width: 1200px) {
  .textarea-container {
    width: 60%;
    padding: 1%;
  }
}
/* ******************** */
/*    RESPONSIVE NAV    */
/* ******************** */
@media (min-width: 12rem) {
  .page-nav {
    font-size: 1rem;
  }
}
@media (min-width: 15rem) {
  .page-nav {
    font-size: 1.25rem;
    padding-right: 5%;
  }
}
@media (min-width: 17rem) {
  .page-nav {
    font-size: 1.35rem;
  }
}
@media (min-width: 18rem) {
  .page-nav {
    width: 90%;
    align-items: flex-start;
  }
  .page-nav a {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: center;
  }
}
@media (min-width: 20rem) {
  .page-nav {
    width: 80%;
  }
}
@media (min-width: 26rem) {
  .page-header {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .page-nav {
    width: 65%;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 30rem) {
  .page-nav {
    width: 55%;
  }
}
@media (min-width: 40rem) {
  .page-nav {
    width: 50%;
    padding-bottom: 0.25rem;
  }
}

@media (min-width: 768px) {
  .page-nav {
    padding-top: 1em;
    font-size: 1.5rem;
    width: 45%;
  }
}
@media (min-width: 950px) {
  .page-nav {
    width: 40%;
  }
}
/* ******************** */
/* OTHER MEDIA QUERIES  */
/* ******************** */
@media (min-width: 30rem) {
  .translation .lang {
    color: var(--app-blue, #49f);
    display: inline-block;
    margin-right: 0.75em;
  }
}
