html, body {
  height: 100%;
  font-size: 120%;
}
:root {
  --app-blue: #43B1E5;
  --app-black: rgb(22, 29, 32);
  --app-grey: rgb(108, 129, 138);
  --app-white: #fafafa;
}
* {
  box-sizing: border-box; 
 }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--app-white);
  color: var(--app-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
